<p class="heading">Hotel Management</p>

<button class="back" (click)="back()">Back</button>

<div *ngIf="currentHotel">
  <h3 class="add-booking-heading">Edit Hotel</h3>
  <form (ngSubmit)="saveHotel()" class="hotel-form" #editHotelForm="ngForm">
    <div class="form-row">
      <div class="form-group">
        <label for="name">Hotel Name:</label>
        <input type="text" [(ngModel)]="newHotel.name" name="name" required #hotelName="ngModel" />
        <div *ngIf="hotelName.invalid && (hotelName.dirty || hotelName.touched)" class="error-message">
          Hotel name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" [(ngModel)]="newHotel.location" name="location" required #location="ngModel" />
        <div *ngIf="location.invalid && (location.dirty || location.touched)" class="error-message">
          Location is required.
        </div>
      </div>

      <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="number" [(ngModel)]="newHotel.rating" name="rating" required min="1" max="5" #rating="ngModel" />
        <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="error-message">
          Rating is required and should be between 1 and 5.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" [(ngModel)]="newHotel.price" name="price" required #price="ngModel" />
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="error-message">
          Price is required.
        </div>
      </div>

      <div class="form-group">
        <label for="rooms">Rooms:</label>
        <input type="number" [(ngModel)]="newHotel.rooms" name="rooms" required min="1" #rooms="ngModel" />
        <div *ngIf="rooms.invalid && (rooms.dirty || rooms.touched)" class="error-message">
          Rooms are required and should be a positive number.
        </div>
      </div>
    </div>
    
    <div class="form-actions">
      <button type="submit" class="submit-button" [disabled]="editHotelForm.invalid">Update Hotel</button>
    </div>
  </form>
</div>


<div *ngIf="!currentHotel">
  <h3 class="add-booking-heading">Add New Hotel</h3>
  <form (ngSubmit)="saveHotel()" class="hotel-form" #hotelForm="ngForm">
    <div class="form-row">
      <div class="form-group">
        <label for="name">Hotel Name:</label>
        <input type="text" [(ngModel)]="newHotel.name" name="name" required #name="ngModel" />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
          Hotel name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" [(ngModel)]="newHotel.location" name="location" required #location="ngModel" />
        <div *ngIf="location.invalid && (location.dirty || location.touched)" class="error-message">
          Location is required.
        </div>
      </div>

      <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="number" [(ngModel)]="newHotel.rating" name="rating" required min="1" max="5" #rating="ngModel" />
        <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="error-message">
          Rating is required and should be between 1 and 5.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" [(ngModel)]="newHotel.price" name="price" required #price="ngModel" />
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="error-message">
          Price is required.
        </div>
      </div>

      <div class="form-group">
        <label for="rooms">Rooms:</label>
        <input type="number" [(ngModel)]="newHotel.rooms" name="rooms" required min="1" #rooms="ngModel" />
        <div *ngIf="rooms.invalid && (rooms.dirty || rooms.touched)" class="error-message">
          Rooms are required and should be a positive number.
        </div>
      </div>
    </div>
    
    <div class="form-actions">
      <button type="submit" class="submit-button" [disabled]="hotelForm.invalid">Add Hotel</button>
      <button type="button" class="reset-button" (click)="hotelForm.reset()">Reset</button>
    </div>
  </form>
</div>

<br >


<div class="search-container">
  <input type="text" [(ngModel)]="searchTerm" (input)="searchHotels()" placeholder="Search by name" class="search-input"/>
</div>


<div *ngIf="!currentHotel">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Rating</th>
        <th>Price</th>
        <th>Rooms</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotels">
        <td>{{hotel.id}}</td>
        <td>{{ hotel.name }}</td>
        <td>{{ hotel.location }}</td>
        <td>{{ hotel.rating }}</td>
        <td>{{ hotel.price }}</td>
        <td>{{ hotel.rooms }}</td>
        <td>
          <button (click)="selectHotelForEdit(hotel)">Edit</button>
          <button (click)="deleteHotel(hotel.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
