<div class="landing-container">
  <h1>Welcome to the Food Management Portal</h1>
  <img src="../../assets/food.png" alt="Delicious Food" style="max-width: 100%; height: auto; border-radius: 10px;" />
    <button class="logout-btn1" (click)="navigateToUserLogin()">User Login</button>
    <button class="logout-btn2" (click)="navigateToAdminLogin()">Admin Login</button>
    <button class="view-order-btn" (click)="navigateToview()">View Order</button>
    <button class="make-order-btn" (click)="navigateToorder()">Make an Order</button>
  </div>
  