<h1>Welcome to Tour Management System</h1>
<div class="form-container">
  <form>
    <label>Enter the email</label>
    <input [(ngModel)]="userobj.email" name="email" required />
    <br />
    <label>Enter the password</label>
    <input [(ngModel)]="userobj.password" name="password" type="password" required />
    <br />
    <div class="error">{{ errorMessage }}</div>
    <div class="attempts-info">
      <p *ngIf="maxAttemptsReached">Account locked for 30 minutes. Try again after {{ remainingTime }} seconds.</p>
      <p *ngIf="!maxAttemptsReached">Attempts left: {{ maxAttempts - attempts }}</p>
    </div>
    <button (click)="onlogin()" [disabled]="isLockedOut || maxAttemptsReached">Login</button>
  </form>
</div>
