<p class="heading">Review Management</p>

<div class="form-container">
 
  <div *ngIf="currentReview" class="hotel-form">
    <h3>Edit Review</h3>
    <form (ngSubmit)="saveReview()">
      <label for="comments">Review Comments:</label>
      <textarea [(ngModel)]="newReview.comments" name="comments" required></textarea>

      <label for="hotel">Hotel Name:</label>
      <input type="text" [value]="newReview.hotel.name" disabled />

      <label for="guest">Guest Name:</label>
      <input type="text" [value]="newReview.guest.name" disabled />

      <div class="form-actions">
        <button type="submit" class="submit-button">Update Review</button>
        <button type="button" class="reset-button" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </div>

 
  <div *ngIf="!currentReview" class="hotel-form">
    <h3>Add New Review</h3>
    <form (ngSubmit)="saveReview()">
      <label for="comments">Review Comments:</label>
      <textarea [(ngModel)]="newReview.comments" name="comments" required></textarea>

      <label for="hotel">Hotel:</label>
      <select [(ngModel)]="newReview.hotel.id" name="hotel" required>
        <option *ngFor="let hotel of hotels" [value]="hotel.id">{{ hotel.name }}</option>
      </select>

      <label for="guest">Guest:</label>
      <select [(ngModel)]="newReview.guest.id" name="guest" required>
        <option *ngFor="let guest of guests" [value]="guest.id">{{ guest.name }}</option>
      </select>

      <div class="form-actions">
        <button type="submit" class="submit-button">Add Review</button>
        <button type="button" class="reset-button" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </div>
</div>

<br />

<div class="search-container">
  <input 
    class="search-input" 
    type="text" 
    [(ngModel)]="searchTerm" 
    (input)="searchReviews()" 
    placeholder="Search by Review Comments" 
  />
  <input 
    class="search-input" 
    type="text" 
    [(ngModel)]="hotelSearchTerm" 
    (input)="searchReviews()" 
    placeholder="Search by Hotel Name" 
  />
  <input 
    class="search-input" 
    type="text" 
    [(ngModel)]="guestSearchTerm" 
    (input)="searchReviews()" 
    placeholder="Search by Guest Name" 
  />
</div>


<div *ngIf="!currentReview">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Review Comments</th>
        <th>Hotel Name</th>
        <th>Guest Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{review.id}}</td>
        <td>{{ review.comments }}</td>
        <td>{{ review.hotel.name }}</td>
        <td>{{ review.guest.name }}</td>
        <td>
          <button (click)="selectReviewForEdit(review)">Edit</button>
          <button (click)="deleteReview(review.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<button class="back-button" (click)="back()">Back</button>
