<h1>Welcome Admin !!</h1>
<h2>Tour Management System Dashboard</h2>
<div class="nav-container">
  <button class="logout-button" (click)="logout()">Logout</button>
  <div class="nav-item">
   
    <a href="booking">Bookings</a>
  </div>
  <div class="nav-item">
   
    <a href="guest">Guests</a>
  </div>
  <div class="nav-item">
    
    <a href="hotel">Hotels</a>
  </div>
  <div class="nav-item">
  
    <a href="facility">Facility</a>
  </div>
  <div class="nav-item">
    
    <a href="review">Reviews</a>
  </div>
  <div class="nav-item">
   
    <a href="registration">Registration</a>
  </div>
</div>
